:host {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;
  border: 1px solid var(--clr-primary-200);
  padding: var(--size-400) var(--size-500);
  transition: scale 300ms;
}

.card__item-img-link {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  margin-top: -1rem;
}

.card__item-img-link::before {
  content: '';
  display: block;
  padding-block: 40%;
}

.card__item-img-link > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.price-old {
  text-decoration: line-through;
}

:is(.card__stock, .card__reviews) {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--size-200);
}

.card__price_cart {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.card__cart-button {
  border: none;
  padding: clamp(0.5rem, 5vw, 0.75rem);
  font-size: 1rem;
  color: rgb(31, 202, 31);
  background-color: transparent;
  border-radius: 4px;
}

:host a {
  text-decoration: none;
}

@media (hover:hover) {
  :host:hover {
    box-shadow: 6px 6px 8px -8px gray;
  }
  .card__cart-button:hover {
    background-color: rgb(222, 240, 222);
  }
}

@media (min-width: 48rem) {
  .card__cart-button {
    padding: 0.4rem;
  }
}

@media (max-width: 455px) {
  .card__cart-button {
    font-size: 1.25rem;
  }
}