<div class="text-green-accent-400 card__stock">
  <fa-icon [icon]="faCheck"></fa-icon>
  <p>in stock</p>
</div>
<div class="card__image">
  <a class="card__item-img-link" routerLink="/product/{{ index }}">
    <img loading="lazy" [src]="product.productImages[0]?.url" alt="product image" />
  </a>
</div>
<div class="card__reviews">
  <app-star
    [disabled]="true"
    [rating]="product.productRating"
    [size]="'1.2rem'"
  ></app-star>
  <p class="text-primary-400 fs-300">Reviews ({{ product.totalReviews }})</p>
</div>
<div class="card__info">
  <a routerLink="/product/{{ index }}">
    {{ productDisplayName }}
  </a>
</div>
<div class="card__price_cart">
  <div class="card__price">
    <p class="text-primary-400 price-old">
      {{ product.originalPrice | currency }}
    </p>
    <p class="fs-secondary-title fw-semi-bold">
      {{ product.originalPrice | currency }}
    </p>
  </div>
  <button (click)="addToCart(index)" class="card__cart-button">
    <fa-icon [icon]="faCart" size="lg"></fa-icon>
  </button>
</div>
