<ng-container *ngIf="!!orderResponse">
  <app-datatable
    [columns]="columns" [length]="orderResponse.items.length"
    [totalCount]="orderResponse.totalCount" 
    [pageSize]="params.pageSize"
    [currentPage]="params.page"
    [filterStatuses]="orderStatuses"
    (pageChanged)="onPageChanged($event)"
    (filter)="onSearchSubmit($event)"
    (sort)="sortTable($event)"
    (filterStatus)="filterStatus($event)">
    <tbody>
      <tr *ngFor="let item of orderResponse.items">
        <td class="sortable">
          {{item.id}}
        </td>
        <td class="sortable">
          <p class="fw-medium">{{item.email}}</p>
        </td>
        <td>
          {{item.phone}}
        </td>
        <td>
          <select [ngModel]="item.orderStatus" (ngModelChange)="onStatusChange($event, item.id)" [ngClass]="item.orderStatus" class="orderStatus" name="orderStatuses" id="status-select">
            <option 
              *ngFor="let orderStatus of orderStatuses" 
              [value]="orderStatus" 
              [ngClass]="orderStatus === item.orderStatus ? '' : orderStatus">
              {{orderStatus}}
            </option>
          </select>
        </td>
        <td class="sortable">
          {{item.orderDate | date}}
        </td>
        <td class="sortable">
          {{item.orderTotal | currency: 'USD'}}
        </td>
        <td>
          <div class="actions">
            <button (click)="viewDetails(item.id)" class="icon-button text-blue-accent-400" style="font-size: 1.25rem;"><fa-icon [icon]="iconView"></fa-icon></button>
            <button holdable (holdTime)="deleteOrder($event, item.id)" class="icon-button text-red-accent-400" style="font-size: 1.25rem;"><fa-icon [icon]="iconTrash"></fa-icon></button>
            <progress max="100" [value]="progressMap.get(item.id)"></progress>
          </div>
        </td>
      </tr>
    </tbody>
  </app-datatable>
</ng-container>

<app-modal [headerTemplate]="modalHeader" [bodyTemplate]="modalBody" modalId="details"></app-modal>
<ng-template #modalHeader>
  <div class="modal__header">
    <h2 class="fs-primary-title fw-semi-bold">Details</h2>
  </div>
</ng-template>
<ng-template #modalBody>
  <div class="modal__body">
    <div class="formGroup" *ngFor="let column of keys">
        <label  class="label fs-label fw-semi-bold" for="name">{{column}}</label>
        <input [disabled]="true" [value]="order![column]" class="form-input" type="text" id="name">  
    </div>
  </div>
</ng-template>

