.terms__content {
  font-size: var(--fs-500);
}

.two-columns {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

.two-columns .terms__nav {
  width: clamp(260px, 25vw, 340px);
  padding: 1rem;
}

.two-columns >:nth-child(2) {
  flex: 1;
}

.terms__nav > a {
  display: block;
}

a.active {
  font-weight: var(--fw-semi-bold);
}

.terms h3 {
  font-weight: var(--fw-semi-bold);
}

.terms h2 {
  font-size: var(--fs-700);
  font-weight: var(--fw-semi-bold);
  margin-block: 1.5rem 3rem;
}

.terms p {
  letter-spacing: 0.4px;
  text-wrap: pretty;
}

@media (max-width: 60rem) {
  .terms__content {
    font-size: var(--fs-300);
  }
  .terms h2 {
    font-size: var(--fs-400);
  }
}

@media (max-width: 38rem) {
  .two-columns {
    display: block;
  }

  .two-columns > *:first-child {
    margin-top: 1rem;
  }

  .two-columns .terms__nav {
    width: 100%;
  }

  .terms h2 {
    margin-block: 1rem 1rem;
  }
}