<div class="container padding-block-500">
  <h1 class="fs-secondary-heading fw-semi-bold" style="margin-bottom: 1rem;">My Orders</h1>
  <ul role="list" class="orders" *ngIf="ordersResponse!! && ordersResponse.items.length != 0 else noOrders">
    <li *ngFor="let order of ordersResponse.items">
      <app-order-card [order]="order" (onCancel)="cancelOrder($event)"></app-order-card>
    </li>
  </ul>
</div>

<ng-template #noOrders>
  <div class="padding-block-400">
    <h2 class="fs-secondary-heading fw-semi-bold" style="text-align: center;">You have no orders yet...</h2>
  </div>
</ng-template>