:host {
  display: block;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  padding-block: 2rem;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav-item {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-decoration-color: transparent;
  text-underline-offset: 0.25rem;
  transition: text-decoration-color 150ms;
}

.nav-item.active {
  color: var(--clr-primary-900);
  text-decoration-color: blue;
}