<button (click)="onToggle('filterMenu')" class="display-fliter-btn button fw-bold text-primary-900">Filter</button>
<div class="filter bg-primary-200" [attr.data-visible]="isVisible.filterMenu" (window:resize)="onResize()">
  <div class="filter__header">
    <h3 class="fs-helpers fw-bold filter__heading">Filters</h3>
    <button class="mobile-nav-toggle" (click)="onToggle('filterMenu')">
      <svg fill="#00000" class="icon-close" viewBox="-10 0 78 100" width="35" height="35">
        <rect class="line top" width="60" height="7" x="8" y="45" rx="5"></rect>
        <rect class="line bottom" width="60" height="7" x="10" y="45" rx="5"></rect>
      </svg>
    </button>
    <button class="button text-primary-400 filter__btn">Clear Filter</button>
  </div>
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <div class="filter__categories">
    <div class="wrapper" (click)="onToggle('category')">
      <h4>Sub Categories</h4>
      <fa-icon [icon]="isVisible['category'] ? chevronUp : chevronDown" size="sm"></fa-icon>
    </div>
    <ul role="list" class="flow" style="--flow-spacer: 0.4rem" [attr.data-visible]="isVisible.category">
      <li *ngFor="let subCategory of subCategories">
        <input type="checkbox" [value]="subCategory.Id" (change)="onCheckChange($event, 'subCategories')"><label>{{subCategory.subCategoryName}}</label>
      </li>
    </ul>
  </div>
  <div class="filter__price">
    <div class="wrapper" (click)="onToggle('price')" >
      <h4>Price</h4>
      <fa-icon [icon]="isVisible['price'] ? chevronUp : chevronDown" size="sm"></fa-icon>
    </div>
    <ul role="list" class="flow" style="--flow-spacer: 0.4rem" [attr.data-visible]="isVisible.price"> 
      <li *ngFor="let price of priceRanges">
        <input type="checkbox" (change)="updatePriceValues($event)" [value]="price.value"><label>{{price.label}}</label>
      </li>
    </ul> 
  </div>
  <div class="filter__color">
    <div class="wrapper" (click)="onToggle('color')">
      <h4>Color</h4>
      <fa-icon [icon]="isVisible['color'] ? chevronUp : chevronDown" size="sm"></fa-icon>
    </div>
    <ul role="list" style="--flow-spacer: 0.4rem" [attr.data-visible]="isVisible.color">
      <li class="filter__color-group">
        <div *ngFor="let color of colors" [ngStyle]="{'background-color': color}" class="color">
          <input type="checkbox" class="color-checkbox" [value]="color" (change)="onCheckChange($event, 'colors')">
        </div>
      </li>
    </ul>
  </div>
  <div class="filter__name">
    <div class="wrapper" (click)="onToggle('filter')">
      <h4>Filter Name</h4>
      <fa-icon [icon]="isVisible['filter'] ? chevronUp : chevronDown" size="sm"></fa-icon>
    </div>
    <ul role="list" class="flow" style="--flow-spacer: 0.4rem" [attr.data-visible]="isVisible.filter">
      <li><input type="checkbox"><label>Something Should be here</label></li>
      <li><input type="checkbox"><label>Something Should be here</label></li>
    </ul>
  </div>
  <button class="button submit__btn bg-blue-accent-400" type="submit">
    Apply Filters ({{selectedFiltersAmount}})
  </button>
  <div class="filter__brands">
    <div class="brands__wrapper">
      <h4>Brands</h4>
      <button class="button text-primary-400 filter__btn">
        All Brands
      </button>
    </div>
    <ul role="list" [attr.data-visible]="true">
      <li class="brands__grid">
        <div *ngFor="let brand of brands" class="brand">
          <img src="/assets/images/brands.svg" [alt]="brand">
        </div>
      </li>
    </ul>
  </div>
  </form>
</div>
