:host ::ng-deep app-image-slider .slider__image {
  transition: translate 800ms;
}

.title {
  font-size: var(--fs-600);
}

.container > *:nth-child(2) {
  margin-top: 2rem;
} 

.container >*:last-child {
  margin-bottom: 2rem;
}

.zip-ad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  margin-block: var(--size-400);
  padding: 0.5rem;
}

.zip-ad span {
  display: none;
}

.recommendations > *:not(:first-child) {
  margin-top: 1.75rem;
}

.section {
  display: grid;
  gap: 1rem;
  cursor: pointer;
}

.section__image {
  position: relative;
  height: 82px;
}

.section__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.section__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  inset: 0;
  padding: 1rem;
}

.section__text :is(a, h3) {
  margin-top: auto;
}

@media (min-width: 30rem) {
  .section {
    grid-template-columns: 200px 1fr;
    gap: 0rem;
  }
  .section__image {
    height: auto;
  }
}

@media (min-width: 48rem) {
  .title {
    font-size: var(--fs-700);
  }
  .zip-ad {
    padding: var(--size-400);
  }
  .zip-ad span {
    display: block;
  }
}