<div class="container">
  <div class="slider">
    <app-image-slider [images]="images" [showDots]="false" [colors]="{arrowColor: '#fff', btnColor: '#3636364d'}" 
    [auto]="true" [interval]="4">
  </app-image-slider>
  </div>
</div>
<div class="container me-sm-none">
  <section class="new-products">
    <h2 class="fw-semi-bold title">New Products</h2>
    <app-carousel [items]="6" [itemsToScroll]="5">
      <ng-container *ngIf="!loading else cardSkeleton">
        <div *ngFor="let product of newProducts.items" class="carousel__cell">
          <app-product-card [product]="product" [index]="product.id"></app-product-card>
        </div>
      </ng-container>
    </app-carousel>
  </section>
  <div class="zip-ad bg-primary-200">
    <img src="/assets/svg/zip.svg" alt="">
    <span style="font-size: 24px; color: #00AEB8;">|</span>
    <p style="font-size: var(--fs-400);">own it now, up to 6 months interest free learn more</p>
  </div>
  <div *ngIf="!loading && customBuilds" class="recommendations">
    <section class="section custom-builds">
      <div class="section__image text-primary-100">
        <div class="section__text"> 
          <h3 class="title fw-bold">Custom<br>Builds</h3>
          <a routerLink="/catalog">See All Products</a>
        </div>
        <img src="/assets/images/home1.webp" alt="custom link background">
      </div>
      <app-carousel [items]="5" [showControls]="false">
        <div *ngFor="let product of customBuilds.items" class="carousel__cell">
          <app-product-card [product]="product" [index]="product.id"></app-product-card>
        </div>
      </app-carousel>
    </section>
    <section class="section custom-builds">
      <div class="section__image text-primary-100">
        <div class="section__text"> 
          <h3 class="title fw-bold">MSI<br>Laptops</h3>
          <a routerLink="">See All Products</a>
        </div>
        <img src="/assets/images/home2.webp" alt="custom link background">
      </div>
      <app-carousel [items]="5" [showControls]="false">
        <div *ngFor="let product of mSILaptops.items" class="carousel__cell">
          <app-product-card [product]="product" [index]="product.id"></app-product-card>
        </div>
      </app-carousel>
    </section>
    <section class="section custom-builds">
      <div class="section__image text-primary-100">
        <div class="section__text"> 
          <h3 class="title fw-bold">Desktops</h3>
          <a routerLink="">See All Products</a>
        </div>
        <img src="/assets/images/home3.webp" alt="custom link background">
      </div>
      <app-carousel [items]="5" [showControls]="false">
        <div *ngFor="let product of desktops.items" class="carousel__cell">
          <app-product-card [product]="product" [index]="product.id"></app-product-card>
        </div>
      </app-carousel>
    </section>
    <section class="section custom-builds">
      <div class="section__image text-primary-100">
        <div class="section__text"> 
          <h3 class="title fw-bold">Gaming<br>Monitors</h3>
          <a routerLink="">See All Products</a>
        </div>
        <img src="/assets/images/home4.webp" alt="custom link background">
      </div>
      <app-carousel [items]="5" [showControls]="false">
        <div *ngFor="let product of gamingMonitors.items" class="carousel__cell">
          <app-product-card [product]="product" [index]="product.id"></app-product-card>
        </div>
      </app-carousel>
    </section>
  </div>
</div>
<div class="container bg-primary-200" style="--max-width: 1130px; margin-block: 4rem;">
  <app-testimonial></app-testimonial>
</div>

<ng-template #cardSkeleton>
  <div *ngFor="let i of [].constructor(10)" class="card skeleton" style="height: 200px; min-width: 200px">

  </div>
</ng-template>
