
<div>
  
</div>
<ng-container *ngIf="!!categories">
  <app-datatable
    [columns]="columns" [length]="categories.length"
    [totalCount]="categories.length" 
    [pageSize]="100"
    [currentPage]="1">
    <tbody>
      <tr style="padding-block: 0.5rem;">
        <td>
          <button (click)="CreateModal()" class="icon-button text-blue-accent-400" style="font-size: 1.25rem;"><fa-icon [icon]="iconAdd"></fa-icon></button>
        </td>
      </tr>
      <tr *ngFor="let item of categories">
        <td>
          {{item.id}}
        </td>
        <td>
          <p class="fw-medium">{{item.categoryName}}</p>
        </td>
        <td>
          <app-read-more-less [content]="item.categoryDescription" [maxLength]="50"></app-read-more-less>
        </td>
        <td>
          <div class="actions">
            <button (click)="EditModal(item)" class="text-green-accent-400 icon-button" style="--font-size: 1.25rem"><fa-icon [icon]="iconEdit"></fa-icon></button>
            <button holdable (holdTime)="deleteCategory($event, item.id)" class="text-red-accent-400 icon-button" style="--font-size: 1.25rem"><fa-icon [icon]="iconTrash"></fa-icon></button>
            <progress max="100" [value]="progressMap.get(item.id)"></progress>
          </div>
        </td>
      </tr>
    </tbody>
  </app-datatable>
</ng-container>

<app-modal [headerTemplate]="modalHeader" [bodyTemplate]="modalBody" modalId="category"></app-modal>
<ng-template #modalHeader>
  <div class="modal__header">
    <h2 class="fs-primary-title fw-semi-bold">{{editMode ? 'Update Category' : 'Create Category'}}</h2>
  </div>
</ng-template>
<ng-template #modalBody>
  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="modal__body">
    <div class="formGroup" *ngIf="editMode">
      <label class="label fs-label fw-semi-bold" for="id">Id</label>
      <input class="form-input" type="text" id="id" formControlName="id" readonly>  
    </div>
    <div class="formGroup">
        <label class="label fs-label fw-semi-bold" for="name">Category Name</label>
        <input class="form-input" type="text" id="name" formControlName="categoryName">  
        <div class="helper-block" *ngIf="categoryName?.invalid && (categoryName?.touched || categoryName?.dirty)">
          <span class="text-danger" *ngIf="categoryName?.hasError('required')">Category Name is required</span>
          <span class="text-danger" *ngIf="categoryName?.hasError('maxlength')">Length should be under 100 characters</span>
        </div>
    </div>
    <div class="formGroup">
      <label class="label fs-label fw-semi-bold" for="description">Category Description</label>
      <input class="form-input" type="text" id="description" formControlName="categoryDescription">  
      <div class="helper-block" *ngIf="categoryDescription?.invalid && (categoryDescription?.touched || categoryDescription?.dirty)">
        <span class="text-danger" *ngIf="categoryDescription?.hasError('required')">Category Description is required</span>
      </div>
  </div>
  <button [disabled]="!categoryForm.valid" style="margin-top: 1rem; width: 100%;" class="button bg-blue-accent-400" type="submit">Submit</button>
  </form>
</ng-template>

