<div class="container container-md-none">
    <app-ad-banner [imageUrl]="'/assets/images/banner-small.png'"></app-ad-banner>  
</div>
<div style="padding-top: 2rem;">
    <div class="container grid-wrapper">
        <section class="sidebar">
            <app-filter [subCategories]="subCategories" 
            [colors]="availableColors" [brands]="availableBrands" (productParams)="setFilters($event)"></app-filter>
        </section>
        <main>
        <ng-template [ngIf]="!loading && productResponse.items">
        <div class="products-grid">
            <app-product-card class="bg-primary-400"
                *ngFor="let product of productResponse.items"
                [product]="product" [index]="product.id">
            </app-product-card>
            <app-product-card class="bg-primary-400"
                *ngFor="let product of productResponse.items"
                [product]="product" [index]="product.id">
            </app-product-card>
            <app-product-card class="bg-primary-400"
                *ngFor="let product of productResponse.items"
                [product]="product" [index]="product.id">
            </app-product-card>
        </div>
        </ng-template>
        <ng-template [ngIf]="!loading && productResponse.items">
            <div class="bottom justify-center padding-block-500">
                <app-pagination 
                    [currentPage]="page" 
                    [itemsPerPage]="pageSize" 
                    [totalItems]="productResponse.totalCount"
                    (pageChanged)="pageChanged($event)"
                ></app-pagination>
            </div> 
        </ng-template>
        </main>
    </div>
</div>

