.two-columns {
  display: grid;
  gap: 1rem;
  align-items: center;
  grid-template-areas: 
  'image'
  'text';
}

.container:not(.full-width) {
  --max-width: 1260px
}

.product__tabs {
  border-bottom: 1px solid var(--clr-primary-300);
}

.tabs {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-block: 1.5rem;
}

.action-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.quantity_input {
  max-width: 60px;
  padding: 0.85rem 0.75rem;
  border: none;
}

.quantity_input:focus {
  outline: 1px solid var(--clr-primary-400);
  outline-offset: 0.15rem;
}

.button.add-to-cart {
  padding: 0.85rem 1.5rem;
}

.product__content {
  padding-block: 0.675rem;
}

:host ::ng-deep app-read-more-less.product__description p {
  font-size: var(--fs-description);
  font-weight: var(--fw-light);
}

ul.filter__color-group {
  display: flex;
  gap: 1rem;
}

ul > li {
  margin: 0;
}

.product__item {
  height: auto;
  grid-area: text;
}

.product__item table {
  border-collapse: collapse;
}

.product__item td, th {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

.product__title {
  font-size: 22px;
}

.product__image {
  grid-area: image;
  width: 100%;
  aspect-ratio: 1;
  justify-self: center;
  box-shadow: 0 0 6px -2px rgb(214, 214, 214);
}

.color {
  position: relative;
  border-radius: 50%;
  width: 27px;
  height: 27px;
}

.color .color-checkbox {
  position: absolute;
  z-index: 100;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.color::before {
  content: '';
  position: absolute;
  opacity: 0;
  z-index: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 2px solid var(--clr-blue-accent-400);
  scale: 1.3;
  transition: opacity 150ms;
}

.color:is(:hover, :focus-visible)::before,
.color:has(.color-checkbox:checked)::before {
  opacity: 1;
}

h1 {
  margin-bottom: clamp(1rem, 3vw, 2rem);
}

@media (min-width: 30rem) {
  .product__content {
    padding-block: 2rem;
  }

  .two-columns {
    --align: start;
    grid-template-columns: 5fr 4fr;
    grid-template-areas: 'text image';
    gap: 2rem;
    align-items: var(--align);
  }

  .tabs {
    justify-content: space-between;
  }
}

@media (min-width: 48rem) {
  .container:not(.full-width) {
    --padding: 3rem;
  }

  .two-columns {
    gap: 4rem;
  }
}

@media (min-width: 64rem) {
  .product__title {
    font-size: var(--fs-800);
  }

  .product .product__content {
    padding-block: 3.5rem 5rem;
  }
}
