<section class="product bg-primary-200" *ngIf="product">
  <div class="bg-primary-100 product__tabs">
    <div class="container full-width tabs">
      <div class="action-group">
        <p>On Sale from <span class="fw-semi-bold">${{product.originalPrice}}.00</span></p>
        <input type="number" [(ngModel)]="count" min="1" value="1" class="quantity_input bg-primary-200 fw-semi-bold">
        <button class="button add-to-cart bg-blue-accent-400" (click)="addToCart(productId)">Add to Cart</button>
      </div>
      <app-ui-tabs [tabs]="tabs" (tabChanged)="onTabChange($event)">
      </app-ui-tabs>
    </div>
  </div>
  <div class="two-columns container product__content" >
    <div class="product__item flow">
      <h1 class="product__title fw-medium">{{product.name}}</h1>
      <ng-container *ngIf="tabs[0] === activeTab; then aboutProductTemplate"></ng-container>
      <ng-container *ngIf="tabs[1] === activeTab; then specificationsTemplate"></ng-container>
      <ng-container *ngIf="tabs[2] === activeTab; then aboutProductTemplate"></ng-container>
      <p class="fw-semi-bold fs-label">Have a Question? <a class="text-blue-accent-400" routerLink="/contact">Contact Us</a></p>
    </div>
    <div class="product__image">
     <app-image-slider [images]="images"></app-image-slider>
    </div>
  </div>
</section>

<section #reviews class="reviews">
  <div class="container full-width" style="margin-block: 2rem;">
    <app-reviews
      *ngIf="!!product" 
      [currentUserId]="(authService.currentUser$ | async)!.id" 
      [product]="product">
    </app-reviews>
  </div>
</section>


<ng-template #aboutProductTemplate>
  <app-read-more-less class="product__description" [content]="product.description"></app-read-more-less>
  <ul role="list" class="filter__color-group">
    <li *ngFor="let color of product.colors">
      <div [ngStyle]="{ 'background-color': color.value}" class="color">
        <input type="radio" class="color-checkbox" [value]="color.id" [formControl]="colorControl">
      </div>
    </li>
  </ul>
</ng-template>
<app-features></app-features>
<ng-template #specificationsTemplate>
  <table>
    <thead>
      <tr>
        <th class="fw-semi-bold">Specification</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let spec of product.productSpecifications">
        <td class="fw-semi-bold">{{ spec.name }}</td>
        <td>{{ spec.value }}</td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #reviewsTemplate>
  <app-star [rating]="product.productRating" [size]="'2rem'"></app-star>
</ng-template>