<div class="container">
  <h1 class="fs-secondary-heading fw-semi-bold padding-block-500">Customer Login</h1>
  <div class="even-columns wrapper">
    <form class="bg-primary-200" [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <h3 class="fs-secondary-title fw-semi-bold">Registered Customer</h3>
      <p>
        if you don't have an account yet, you can create a new account right now
      </p>
      <div class="form-group">
        <label class="fs-label fw-semi-bold label" for="email"
          >Email <span class="text-red-accent-400">&ast;</span></label
        >
        <input class="form-input" type="text" placeholder="Your Email" formControlName="email"/>
        <span class="text-danger" *ngIf="email?.hasError('required') && email?.touched">
          Email is required
        </span>
        <span class="text-danger" *ngIf="email?.hasError('email')">
          Invalid email address
        </span>
      </div>
      <div class="form-group" *ngIf="!showVerifyEmail">
        <label class="fs-label fw-semi-bold label" for="password"
          >Password <span class="text-red-accent-400">&ast;</span></label
        >
        <input (keyup)="checkPassword()" class="form-input" type="password" placeholder="Your Password" formControlName="password"/>
        <span class="text-danger" *ngIf="password?.hasError('required') && password?.touched">
          Password is required
        </span>
        <div class="helper-block" *ngIf="password?.hasError('pattern')">
          <span [ngClass]="lowercaseValid ? 'text-success': 'text-danger'">At least one lowercase letter</span>
          <span [ngClass]="uppercaseValid ? 'text-success': 'text-danger'">At least one uppercase letter</span>
          <span [ngClass]="digitValid ? 'text-success': 'text-danger'">At least one digit</span>
          <span [ngClass]="lengthValid ? 'text-success': 'text-danger'">Between 6 and 32 characters</span>
          <span [ngClass]="noWhitespace ? 'text-success': 'text-danger'">No whitespace</span>
       </div>
      </div>
      <div class="form-group" *ngIf="showVerifyEmail">
        <label class="fs-label fw-semi-bold label" for="verify">
            Verification Code <span class="text-red-accent-400">*</span>
        </label>
       <div class="verify-group">
        <input class="form-input" type="text" placeholder="Your Verification Token" formControlName="token"/>
        <button (click)="verifyEmail()" type="button" class="button text-blue-accent-400" data-icon="true">
            <fa-icon [icon]="iconCheck" size="3x"></fa-icon>
        </button>
       </div>
      </div>
      <div class="controls">
        <div class="controls__links">
          <button (click)="showVerifyEmail = !showVerifyEmail" type="button" class="verify-button">Verify Email</button>
          <a
          class="text-blue-accent-400 fw-semi-semi-bold"
          routerLink="/forgot-password"
          style="text-decoration: none;"
          >Forgot Your Password?</a>
        </div>
        <button [disabled]="authForm.invalid"  type="submit" class="submit-button button bg-blue-accent-400">
          {{submitBtnText}}
        </button>
      </div>
    </form>
    <div class="bg-primary-200 flow">
      <ng-template [ngIf]="loginMode" [ngIfElse]="register">
        <h3 class="fs-secondary-title fw-semi-bold">New Customer?</h3>
        <p>Creating an account has many benefits: </p>
        <ul>
          <li>Check out faster</li>
          <li>Keep more than one address</li>
          <li>Track orders and more</li>
        </ul>
        <button class="button bg-blue-accent-400" (click)="switchMode()">Create An Account</button>
    </ng-template>
    <ng-template #register>
      <h3 class="fs-secondary-title fw-semi-bold">Already Have An Account?</h3>
      <p>Welcome back! Explore these benefits:</p>
      <ul>
        <li>Check out faster</li>
        <li>Keep more than one address</li>
        <li>Track orders and more</li>
      </ul>
      <button style="margin-right: 1rem;" class="button bg-blue-accent-400" (click)="switchMode()">Sign In</button>
    </ng-template>
      <button (click)="sendVerificationToken()" class="button bg-blue-accent-400">Send Email Verification Token</button>
    </div>
  </div>
</div>
