.container {
  padding-block: var(--size-500) var(--size-750);
}

.wrapper {
  max-width: 1156px;
  margin-inline: auto;
  --gap-spacer: 2rem;
}

.wrapper > *{
  padding: var(--size-650) 8%;
}

.form-input {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--clr-primary-400);
}

h3 {
  margin-bottom: var(--size-300);
}

.controls {
  padding-top: var(--size-200);
}

.controls__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.25rem;
}

.submit-button {
  margin-top: 1rem;
  width: 100%;
}

.helper-block > *{
  display: block;
}

li {
  --flow-spacer: 0;
}

.verify-group {
  display: flex;
  gap: 1rem;
}

.verify-button {
  cursor: pointer;
  background-color: transparent;
  color: var(--clr-blue-accent-400);
  border: none;
}
