progress {
  transform: rotate(-90deg);
  width: 30px;    
}

.modal__body {
  display: grid;
  gap: 1rem;
  padding-bottom: 3rem;
}

@media (min-width: 48rem) {
  .modal__body {
    grid-template-columns: repeat(2, 1fr);
  }

  .wrapper {
    padding: 1rem;
  }
}

ul.filter__color-group {
  display: flex;
  gap: 0.5rem;
}

ul > li {
  margin: 0;
}

.color {
  position: relative;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.actions {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.actions > button {
  cursor: pointer;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--clr-primary-400);
}

