<ng-container *ngIf="!!productResponse">
  <app-datatable 
    [columns]="columns" [length]="productResponse.items.length" 
    [totalCount]="productResponse.totalCount" [pageSize]="params.pageSize" 
    [currentPage]="params.page"
    [filterStatuses]="[IN_STOCK, OUT_OF_STOCK]"
    (pageChanged)="onPageChanged($event)"
    (filter)="onSearchSubmit($event)"
    (sort)="onSortTable($event)"
    (filterStatus)="onFilterStatus($event)">
    <tbody>
      <tr *ngFor="let item of productResponse.items">
        <td>
          {{item.id}}
        </td>
        <td>
          <p class="fw-medium">{{item.name}}</p>
        </td>
        <td>
          {{item.originalPrice | currency: 'USD'}}
        </td>
        <td>
          {{item.salePrice | currency: 'USD'}}
        </td>
        <td>
          {{item.brand?.brandName}}
        </td>
        <td>
          <ul role="list" class="filter__color-group">
            <li *ngFor="let color of item.colors">
              <div [ngStyle]="{ 'background-color': color.value}" class="color">
              </div>
            </li>
          </ul>
        </td>
        <td>
          {{item.quantity}}
        </td>
        <td>
          <div class="actions">
            <button (click)="viewDetails(item.id)" class="icon-button text-blue-accent-400" style="--font-size: 1.25rem"><fa-icon [icon]="iconView"></fa-icon></button>
            <button [routerLink]="['/admin/product/edit/', item.id]" class="text-green-accent-400 icon-button" style="--font-size: 1.25rem"><fa-icon [icon]="iconEdit"></fa-icon></button>
            <button holdable (holdTime)="deleteProduct($event, item.id)" class="text-red-accent-400 icon-button" style="--font-size: 1.25rem"><fa-icon [icon]="iconTrash"></fa-icon></button>
            <progress max="100" [value]="progressMap.get(item.id)"></progress>
          </div>
        </td>
      </tr>
    </tbody>
  </app-datatable>
</ng-container>


<app-modal [headerTemplate]="modalHeader" [bodyTemplate]="modalBody" modalId="product"></app-modal>
<ng-template #modalHeader>
  <div class="modal__header">
    <h2 class="fs-primary-title fw-semi-bold">Details</h2>
  </div>
</ng-template>
<ng-template #modalBody>
  <div class="modal__body">
    <div class="formGroup" *ngFor="let column of keys">
        <label  class="label fs-label fw-semi-bold" for="name">{{column}}</label>
        <input [disabled]="true" [value]="product![column]" class="form-input" type="text" id="name">  
    </div>
  </div>
</ng-template>





<!-- <div *ngIf="!!orderResponse">
  <app-pagination (pageChanged)="onPageChanged($event)" [itemsPerPage]="orderResponse.pageSize" [currentPage]="orderResponse.page" [totalItems]="orderResponse.totalCount"></app-pagination>
</div> -->
