.benefits {
  padding-block: 0 1.5rem;
}

.two-columns {
  display: grid;
  gap: 1rem;
  align-items: center;
  grid-template-areas: 
  'image'
  'text';
}

.benefits__text {
  grid-area: text;
}

h1 {
  margin-bottom: clamp(1rem, 3vw, 2rem);
}

.benefits__image {
  position: relative;
  grid-area: image;
}

.benefits__image::after {
  content: '';
  position: absolute;
  z-index: 15;
  top: 0;
  right: 0;
  width: 8%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  pointer-events: none;
}

.support__links {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: clamp(230px, 50%, 380px);
  background-color: transparent;
  padding-inline: 1rem;
}

.support__links a {
  display: block;
  text-decoration: none;
  padding: 1em 1.5em;
  border: 1px solid var(--clr-primary-300);
  border-radius: 6px;
  background-color: var(--clr-primary-100);
}

.support__links a::after {
  content: '➡';
  color: var(--clr-blue-accent-400);
  float: right;
}

.support__container {
  position: relative;
  padding-block: var(--size-500) var(--size-900);
  background-color: transparent;
}

.support__container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/productP2.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.features {
  padding-block: 2rem;
  background: radial-gradient(ellipse, rgb(41, 41, 41) 0%, rgba(0, 0, 0, 1) 85%);
}

.features__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.features__heading h2 {
  font-size: var(--fs-800);
}

.features__heading p {
  max-width: 40ch;
}

.features__grid {
  position: relative;
  display: grid;
  gap: 1rem;
  margin-top: clamp(18px, 3.5vw, 60px);
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.675rem;
  text-align: center;
}

.feature__image {
  display: flex;
  justify-content: center;
  align-items: center;
  --size: 80px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: #000;
}

.feature__image > img {
  max-width: 47px;
}

@media (min-width: 30rem) {
  .benefits__text {
    position: relative;
    z-index: 20;
    max-width: 50ch;
  }

  .benefits__image img {
    position: relative;
    z-index: 10;
    max-width: 140%;
    margin-left: -40%;
  }

  .two-columns {
    --align: start;
    grid-template-columns: 5fr 4fr;
    grid-template-areas: 'text image';
    gap: 2rem;
    align-items: var(--align);
  }

  .support__container {
    padding: var(--size-800);
  }

  .support__container::after {
    background-size: contain;
    background-position: right center;
  }

  .features__grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4.375rem;
  }
}

@media (min-width: 48rem) {
  .features__title {
    font-size: var(--fs-850);
  }

  .container {
    --padding: 3rem;
  }
}

@media (min-width: 64rem) {
  .benefits {
    padding-block: 0;
  }

  .features {
    padding-block: 4.75rem 6rem;
  }

  .features__grid {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
  }

  .features__item {
    gap: 2rem;
  }

  .feature__image {
    --size: 136px;
  }

  .feature__image > img {
    max-width: 111px;
  }
}
