<div class="container" style="--max-width: 350px">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="resetControl">
    <h2 class="fs-secondary-title fw-semi-bold">Change Password</h2>
    <hr>
    <div class="form-group">
      <label [ngClass]="{highlighted: password?.valid}" for="password" class="label fs-label fw-semi-bold">New Password</label>
      <input id="password" placeholder="New Password" type="text" class="form-input" formControlName="password">
      <div class="helper-block" *ngIf="password?.invalid && (password?.touched || password?.dirty)">
        <span class="text-danger" *ngIf="password?.hasError('required')">Password is required</span>
        <span class="text-danger" *ngIf="password?.hasError('length')">Between 6 and 32 characters</span>
        <span class="text-danger" *ngIf="password?.hasError('pattern')">Format should be like Pa$$w0rd</span>
      </div>
    </div>
    <div class="form-group">
      <label [ngClass]="{highlighted: confirmPassword?.valid}" for="confirmPassword" class="label fs-label fw-semi-bold">New Password (again)</label>
      <input id="confirmPassword" placeholder="New Password (again)" type="text" class="form-input" formControlName="confirmPassword">
      <div class="helper-block" *ngIf="confirmPassword?.invalid && (confirmPassword?.touched || confirmPassword?.dirty)">
        <span class="text-danger">Passwords do not match</span>
      </div>
    </div>
    <button [disabled]="!resetForm.valid" class="reset-btn button bg-blue-accent-400" type="submit">Change Password</button>
  </form>
</div>
