<h1 class="padding-bottom-400 fs-secondary-heading fw-semi-bold">Create Product</h1>
<hr>
<div class="product-management">
  <div appDragAndDrop (onFileDropped)="onFileDropped($event)" class="file-uploader bg-primary-200">
    Drag and drop the file(s) here or click on "Browser Files"
  </div>
  <div class="images-preview">
    <div class="image-widget" *ngFor="let image of imagesArray.controls; let i = index">
      <div>
         <img class="preview-image" [src]="image.value.url" width="50px" height="50px" alt="">
        <span class="fw-semi-bold">{{image.value.file.name}}</span> 
      </div>
      <button (click)="deleteImage(i)" class="remove-button" type="button" style="color: rgb(240, 62, 62);">
        <fa-icon [icon]="trashIcon" size="lg"></fa-icon>
      </button>
    </div>
  </div>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="formGroup">
      <label [ngClass]="{highlighted: name?.valid}" class="label fs-label fw-semi-bold" for="name">Name</label>
      <input formControlName="name" class="form-input" type="text" id="name">
      <div class="helper-block" *ngIf="name?.invalid && (name?.touched || name?.dirty)">
        <span class="text-danger" *ngIf="name?.hasError('required')">Name field is required</span>
      </div>
    </div>
    <div class="formGroup">
      <label [ngClass]="{highlighted: originalPrice?.valid}" class="label fs-label fw-semi-bold" for="originalPrice">Original Price</label>
      <input formControlName="originalPrice" class="form-input" type="text" id="originalPrice">
      <div class="helper-block" *ngIf="originalPrice?.invalid && (originalPrice?.touched || originalPrice?.dirty)">
        <span class="text-danger" *ngIf="originalPrice?.hasError('required')">Original Price field is required</span>
        <span class="text-danger" *ngIf="originalPrice?.hasError('pattern')">Please enter a valid number with up to two decimal places.</span>
      </div>
    </div>
    <div class="formGroup">
      <label [ngClass]="{highlighted: salePrice?.valid}" class="label fs-label fw-semi-bold" for="salePrice">Sale Price (optional)</label>
      <input formControlName="salePrice" class="form-input" type="text" id="salePrice">
      <span class="text-danger" *ngIf="salePrice?.touched && salePrice?.hasError('pattern')">Please enter a valid number with up to two decimal places.</span>
    </div>
    <div class="formGroup">
      <label [ngClass]="{highlighted: description?.valid}" class="label fs-label fw-semi-bold" for="description">Description</label>
      <input formControlName="description" class="form-input" type="text" id="description">
      <div class="helper-block" *ngIf="description?.invalid && (description?.touched || description?.dirty)">
        <span class="text-danger" *ngIf="description?.hasError('required')">Description is required</span>
      </div>
    </div>
    <div class="formGroup">
      <label [ngClass]="{highlighted: categoryId?.valid}" class="label fs-label fw-semi-bold" for="categoryId">Category</label>
      <input formControlName="categoryId" class="form-input" type="text" id="categoryId">
      <div class="helper-block" *ngIf="categoryId?.invalid && (categoryId?.touched || categoryId?.dirty)">
        <span class="text-danger" *ngIf="categoryId?.hasError('required')">Category is required</span>
      </div>
    </div>
    <div class="formGroup">
      <label [ngClass]="{highlighted: subCategoryId?.valid}" class="label fs-label fw-semi-bold" for="subCategoryId">SubCategory</label>
      <input formControlName="subCategoryId" class="form-input" type="text" id="subCategoryId">
      <div class="helper-block" *ngIf="subCategoryId?.invalid && (subCategoryId?.touched || subCategoryId?.dirty)">
        <span class="text-danger" *ngIf="subCategoryId?.hasError('required')">SubCategory is required</span>
      </div>
    </div>
    <div class="formGroup">
      <label [ngClass]="{highlighted: brandId?.valid}" class="label fs-label fw-semi-bold" for="brandId">Brand</label>
      <input formControlName="brandId" class="form-input" type="text" id="brandId">
      <div class="helper-block" *ngIf="brandId?.invalid && (brandId?.touched || brandId?.dirty)">
        <span class="text-danger" *ngIf="brandId?.hasError('required')">Brand is required</span>
      </div>
    </div>
    <ng-container formArrayName="colors">
      <div class="add-control">
        <label class="label fs-label fw-semi-bold" for="color">Colors</label>
        <button (click)="addColor()" class="button bg-blue-accent-400" type="button">Add Color</button>
      </div>
      <ng-container *ngFor="let colorControl of colorsArray.controls; let i = index">
        <div class="formArray">
          <div class="formArray__input-block">
            <input [formControlName]="i" class="form-input" type="text" id="color">
            <button (click)="deleteColor(i)" class="bg-red-accent-400 remove-button" type="button">X</button>
          </div>
          <div class="helper-block" *ngIf="colorControl?.invalid && (colorControl?.touched || colorControl?.dirty)">
            <span class="text-danger" *ngIf="colorControl?.hasError('required')">Color is required</span>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container formArrayName="productSpecifications">
      <div class="add-control">
        <label class="label fs-label fw-semi-bold" for="specification">Specifications</label>
        <button (click)="addSpecification()" class="button bg-blue-accent-400" type="button">Add Specification</button>
      </div>
      <ng-container *ngFor="let specification of specifications.controls; let i = index">
        <div class="formArray">
          <div class="formArray__input-block" [formGroupName]="i">
            <input placeholder="Specification name" formControlName="name" class="form-input" type="text" id="specification">
            <input placeholder="Specification value" formControlName="value" class="form-input" type="text" id="">
            <button (click)="deleteSpecification(i)" class="bg-red-accent-400 remove-button" type="button">X</button>
          </div>
          <div class="helper-block" *ngIf="specification?.invalid && (specification?.touched || specification?.dirty)">
            <span class="text-danger" *ngIf="specification?.hasError('required')">Specification is required</span>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <button [disabled]="!productForm.valid" style="margin-top: 1rem; width: 100%;" class="button bg-blue-accent-400" type="submit">Submit</button>
  </form>
</div>