<div class="item">
  <div class="item__details">
    <div class="item__image">
      <img height="115px" width="115px" [src]="item.product.productImages[0]?.url" alt="some image">
      <div [ngStyle]="{'background-color': item.color.value}" class="color"></div>
    </div>
    <p style="margin-right: 0.75rem;">{{item.product.name}}: {{item.product.description}}</p>
  </div>
  <div class="item__controls">
    <div class="price" >
      <h4 class="fw-semi-bold">Price</h4>
      <p class="fs-helper fw-semi-bold">${{item.product.originalPrice}}.00</p>
    </div>
    <div class="quantity">
      <h4 class="fw-semi-bold">Quantity</h4>
      <input type="number" (ngModelChange)="onChange($event)" [(ngModel)]="count" min="1" value="1" class="quantity_input bg-primary-200 fw-semi-bold">
    </div>
    <div class="subtotal"> 
      <h4 class="fw-semi-bold">Subtotal</h4>
      <p class="fs-helper fw-semi-bold">{{item.product.originalPrice * item.count | currency}}</p>
    </div>
    <div class="item__edit-group">
      <button (click)="removeFromCart()">
        <fa-icon [icon]="removeIcon"></fa-icon>
      </button>
      <button>
        <fa-icon [icon]="likeIcon"></fa-icon>
      </button>
    </div>
  </div>
</div>
<hr>
