.container {
  position: static;
}

.event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.5rem;
}

.event-header-right {
  gap: 0.5rem;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.menuBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.header {
  position: relative;
  border-bottom: 1px solid var(--clr-primary-400);
}

.header-nav {
  position: fixed;
  z-index: 100;
  inset: 0;
  right: unset;
  width: min(100%, 600px);
  background-color: #fff;
  color: black;
  padding: 1rem;
  left: -100%;
  transition: all 450ms;
}

.header-nav.expanded {
  left: 0;
}

.header-nav .nav-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  max-height: 100%;
  overflow-y: auto;
}

.nav-list li{
  padding-block: 0.5rem;
}

.arrow {
  display: inline-block;
  margin-right: auto;
}

.nav-list > li .arrow {
  transform: rotate(180deg);
}

.nav-list > li.active .arrow {
  transform: rotate(0);
}

.nav-list > li > a {
  padding: 0.375rem 0.675rem;
  border-radius: 10000px;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 200ms, color 200ms;
}

.header-right {
  display: flex;
  gap: 1rem;
  margin-left: auto;
  flex: 1;
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 10000px;
}

.input-wrapper input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: inherit;
  outline: none;
  padding: 0.5rem 1.25rem 0.5rem 2.75rem;
}

.input-wrapper input:is(:focus-visible, :active) {
  outline: 2px solid gray;
}

.input-wrapper .search-btn {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translate(0, -50%);
  pointer-events: none;
}

.profile-button > img {
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.dropdown-wrapper {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
  background-color: var(--clr-primary-100);
  border-bottom: 1px solid var(--clr-primary-300);
  z-index: 10;
  top: 100%;
  left: 0;
  right: 0;
  transition: all 300ms;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropdown-list > li > a {
  display: inline-block;
  text-decoration: none;
}

.dropdown-list > li > a::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: var(--clr-primary-900);
  transition: 300ms;
}

.dropdown-list > li > a:hover::after {
  width: 100%;
}

.nav-link.active > .dropdown-wrapper {
  opacity: 1;
  max-height: 24rem;
  pointer-events: all;
}

.cart-bage {
  position: absolute;
  display: flex;
  top: -0.25rem;
  right: -0.25rem;
  align-items: center;
  justify-content: center;
}

.cart-button {
  position: relative;
}


@media (min-width: 80rem) {
  .header {
    background-color: var(--clr-primary-100);
  }

  .header-nav {
    position: static;
    width: auto;
    transform: none;
    transition: none;
    padding: 0;
  }

  .header-nav .nav-controls {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .nav-list > li {
    padding-block: 1.25rem;
  }

  .nav-list > li .arrow {
    display: none;
  }

  .nav-list > li:hover > a {
    background-color: var(--clr-blue-accent-400);
    color: #fff;
  }

  .header-right {
    flex: revert;
  }

  .input-wrapper input {
    width: 2rem;
    height: 2rem;
    padding: 0;
    background: transparent;
  }

  .input-wrapper input::placeholder {
    opacity: 0;
  }

  .input-wrapper input:focus {
    width: 100%;
    padding: 0.25rem 1.25rem 0.25rem 2.75rem;
  }

  .input-wrapper .search-btn {
    pointer-events: none;
  }

  .cart-button, .profile-button {
    color: rgb(71, 71, 71);
  }

  .nav-list {
    overflow-y: unset;
  }

  .dropdown-wrapper {
    position: absolute;
    border-top: 1px solid var(--clr-primary-300);
    box-shadow: 0px 5px 5px -3px var(--clr-primary-300);
    min-height: 200px;
  }

  .dropdown-menu {
    flex-direction: row;
    gap: 2rem;
  }
}