<div class="bg-primary-900 text-primary-400 fw-semi-bold fs-300">
  <div class="container event-header">
    <div>
      <span>Mon-Thu: <span class="text-primary-100">9:00 AM-5:30 PM</span></span>
    </div>
    <div>
      <span class="md-inline-block">
        Visit our showroom in 123 Street Adress City Address, 1234
      </span> &nbsp;
      <a routerLink="/contact" class="text-primary-100">Contact Us</a>
    </div>
    <div class="event-header-right text-primary-100 md-flex">
      <span>Call Us: (00) 1234 5678</span>
      <fa-icon [icon]="iconFacebook" size="lg"></fa-icon>
      <fa-icon [icon]="iconInstagram" size="lg"></fa-icon>
    </div>
  </div>
</div>

<header class="header bg-blue-accent-400 text-primary-100">
  <div class="container header-content">
    <div class="header-left" aria-label="Logo">
      <a class="md-block" routerLink="/">
        <img src="./assets/svg/logo.svg" alt="logo">
      </a>
      <button #menuBtn class="menuBtn md-none" aria-controls="nav-list" (click)="isNavExpanded = true">
        <svg fill="#fff" viewBox="0 0 100 100" width="40" height="40">
          <rect class="line top" height="10" width="80" rx="6" x="10" y="25"></rect>
          <rect class="line middle" height="10" width="80" rx="6" x="10" y="45"></rect>
          <rect class="line bottom" height="10" width="80" rx="6" x="10" y="65"></rect>
        </svg>
      </button>
    </div>
    <nav #navHeader id="nav-list" class="fw-semi-bold fs-nav header-nav" [ngClass]="{expanded: isNavExpanded}">
      <div class="nav-controls">
        <a routerLink="/">
          <img src="./assets/svg/logo.svg" alt="logo">
        </a>
        <button class="menuBtn" aria-label="closeMenu" (click)="onClose()">
          <svg fill="#00000" class="icon-close" viewBox="0 0 80 100" width="40" height="40">
            <rect class="line top" width="60" height="8" x="10" y="45" rx="5"></rect>
            <rect class="line bottom" width="60" height="8" x="10" y="45" rx="5"></rect>
          </svg>
        </button>
      </div>
      <ul role="list" class="nav-list" (click)="onLinkClicked($event)">
        @for(expandingCategory of expandingCategories; track $index) {
          <li class="nav-link" [attr.categoryId]="expandingCategory.categoryId" (mouseenter)="onCategoryHover($event)" (click)="onCategoryClick($event)" (mouseleave)="onCategoryLeave($event)">
            <a routerLink="catalog" [queryParams]="{category: expandingCategory.categoryId}">{{expandingCategory.title}} <span class="arrow">^</span></a>
            @if (expandingCategory.categoryId === activeCategoryId) {
              <div class="dropdown-wrapper">
                <div class="container dropdown-menu">
                  @for (group of subcategoryGroups; track $index) {
                    <ul role="list" class="dropdown-list" (click)="onDropdownLinkClick($event)">
                      <li class="fs-helper">{{group.groupName}}</li>
                      @for (subcategory of group.subcategories; track subcategory.id) {
                        <li class="text-primary-600"><a routerLink="/catalog" [queryParams]="{category: subcategory.categoryId, subcategory: subcategory.id}">{{subcategory.subCategoryName}}</a></li>
                      }
                    </ul>
                  }
                </div>
              </div>
            }
          </li>
        }
        <li><a routerLink="/contact">Repairs</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/terms">Terms</a></li>
        <li *appHasRole="['ADMIN']"><a routerLink="/admin">Admin Pannel</a></li>
        @if (authService.currentUser$ | async) {
          <li (click)="authService.logout()">Logout</li>
        }
      </ul>
    </nav>
    <div class="header-right">
      <form class="input-wrapper">
        <input type="search" placeholder="Search here">
        <button class="icon-button search-btn" style="--size: 22px">
          <img src="./assets/svg/search.svg" alt="">
        </button>
      </form>
      <button class="icon-button cart-button" routerLink="/cart">
        <fa-icon [icon]="iconCart" size="lg"></fa-icon>
        @if (cartService.itemsInCart > 0) {
          <div class="icon-button bg-blue-accent-400 cart-bage fs-300 fw-semi-bold" style="--size: 17px">
            {{cartService.itemsInCart}}
          </div>
        }
      </button>
      <button class="icon-button profile-button" routerLink="/orders">
        @if (authService.currentUser$ | async) {
          <img src="./assets/images/profileHolder.jfif" alt="">
        } @else { 
          <img src="./assets/svg/account.svg" alt="">
        }
      </button>
    </div>
  </div>
</header>