<div class="event-header bg-primary-900">
  <div class="container">
    <div class="event-wrapper">
      <div>
        <p>
          Mon-Thu: <span class="text-primary-100">9:00 AM - 5:30 PM &#8628;</span>
        </p>
      </div>
      <div>
        <p>Visit our showroom in 1234 Street City Address, 1234</p>
        <a class="text-primary-100" href="#">Contact Us</a>
      </div>
      <div class="text-primary-100">
        <p>Call Us: (00) 1234 5678</p>
        <fa-icon [icon]="faFacebook"></fa-icon>
        <fa-icon [icon]="faInstagram"></fa-icon>
      </div>
    </div>
  </div>
</div>
<header class="primary-header">
  <div class="container">
    <div class="nav-wrapper">
      <div class="header-left">
        <a routerLink="./" class="logo display-md-none">
          <img src="/assets/svg/logo.svg"alt="website logo" />
        </a>
        <button class="mobile-nav-toggle" (click)="onToggle()">
          <svg fill="#fff" class="icon-hamburger" viewBox="0 0 100 100" width="40" height="40">
            <rect class="line" width="80" height="10" x="10" y="25" rx="5"></rect>
            <rect class="line" width="80" height="10" x="10" y="45" rx="5"></rect>
            <rect class="line" width="80" height="10" x="10" y="65" rx="5"></rect>
          </svg>
        </button>
        <nav class="primary-navigation" [attr.data-visible]="isVisible">
         <div [ngClass]="{'container': isVisible}" (window:resize)="onResize()">
          <div class="nav-expanded-control" [attr.data-visible]="isVisible">
          <a routerLink="./" class="logo">
            <img src="/assets/svg/logo.svg" (click)="onToggle()" alt="website logo" />
          </a>
          <button class="mobile-nav-toggle" (click)="onToggle()">
            <svg fill="#00000" class="icon-close" viewBox="0 0 80 100" width="40" height="40">
              <rect class="line top" width="60" height="8" x="10" y="45" rx="5"></rect>
              <rect class="line bottom" width="60" height="8" x="10" y="45" rx="5"></rect>
            </svg>
          </button>
          </div>
          <ul role="list" class="nav-list">
            <li><a href="#">Laptops</a></li>
            <li><a href="#">Desktop PCs</a></li>
            <li><a href="#">Networking Devices</a></li>
            <li><a href="#">Printers &amp; Scanners</a></li>
            <li><a href="#">Repairs</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/terms">Terms</a></li>
            <li><a href="#" class="button text-blue-accent-400">Our Deals</a></li>
          </ul>
        </div>
        </nav>
      </div>
      <form class="search-bar fw-semi-bold">
        <input type="search" placeholder="Search here" class="search-bar__input" aria-label="search">
        <button class="button search-bar__button" data-icon="true">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
        <button class="button search-close__button" data-icon="true">
          <svg fill="#00000" class="icon-close" viewBox="0 0 80 100" width="40" height="40">
            <rect class="line top" width="60" height="8" x="10" y="45" rx="5"></rect>
            <rect class="line bottom" width="60" height="8" x="10" y="45" rx="5"></rect>
          </svg>
        </button>
      </form>
      <div class="header-right">
        <!-- <button class="button action-button search-button" data-icon="true" aria-label="open search">
          <fa-icon [icon]="faSearch" size="lg"></fa-icon>
        </button> -->
        <div class="cart-button">
          <button routerLink="/cart" class="button action-button" data-icon="true" aria-label="open cart">
            <fa-icon [icon]="faCart" size="lg"></fa-icon>
          </button>
          <div class="cart-items-count" *ngIf="cartService.itemsInCart > 0">
            {{cartService.itemsInCart}}
          </div>
        </div>
        <button *ngIf="authService.currentUser$ | async"
          (click)="toggleUserMenu()" class="button" data-icon="true" aria-label="open profile">
          <img
            class="profile-picture"
            src="/assets/images/profileHolder.jfif"
            alt="profile picture"
          />
        </button>
        <button class="button action-button" data-icon="true" *ngIf="!(authService.currentUser$ | async)">
          <fa-icon routerLink="/auth" [icon]="faUser" class="action-icon" size="2x"></fa-icon>
        </button>
      </div>
    </div>
    <div [attr.data-visible]="isMenuVisible" class="fw-semi-bold user-menu bg-primary-100 flow" style="--flow-spacer: 0.5rem">
      <div>
        <fa-icon [icon]="faUser" size="lg"></fa-icon>
        <a routerLink="/profile">Profile</a>
      </div>
      <div (click)="authService.logout(); closeMenu()">
        <fa-icon [icon]="faSignOut" size="lg"></fa-icon>
        <a>Logout</a>
      </div>
    </div>
  </div>
</header>
