<div class="container" style="--max-width: 350px">
  <div class="resetControl">
    <h2 class="fs-secondary-title fw-semi-bold">Password Reset</h2>
    <hr>
    <ng-container *ngIf="!tokenSent else text">
      <div class="resetHelper bg-primary-200">
        <p>Forgotten your password? Enter your e-mail address below,
          and we'll send you an e-mail allowing you to reset it.</p>
      </div>
      <label [ngClass]="{highlighted: emailControl.valid}" for="email" class="label fs-label fw-semi-bold">Email</label>
      <input id="email" type="email" class="form-input" [formControl]="emailControl">
      <div class="helper-block" *ngIf="emailControl?.invalid && (emailControl?.touched || emailControl?.dirty)">
        <span class="text-danger" *ngIf="emailControl?.hasError('required')">Email is required</span>
        <span class="text-danger" *ngIf="emailControl?.hasError('email')">Invalid email address</span>
      </div>
      <button [disabled]="!emailControl.valid" class="reset-btn button bg-blue-accent-400" (click)="onSubmit()" type="submit">Reset My Password</button>
    </ng-container>
  </div>
</div>

<ng-template #text>
  <div class="bg-primary-200 resetHelper">
    <p>
      We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
    </p>
  </div>
</ng-template>
